

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;    
}


.header{
    background-color: #191919;
    width: 100%;
    height: 100px;    
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}

.ul__container{
    flex: auto;             
}

.ul__nav{
    margin: 0 auto;
    width: 60%;    
    display: flex;
    justify-content: space-between;
}


.nav__item{
    text-decoration: none;
    color:white ;
    font-size:30px ;
    padding: 0;
    --clipi : polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clipi);
    transition: clip-path 0.3s;
}

.nav__item:hover{
    --clipi: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.icon__provider{    
    /* height: 50%;    */
    /* width: 100px;  */
    width: 50px;
    height: auto;
}

.iconprofile{
    cursor: pointer;
    /* width: 100px; */
    /* height: auto; */
}

.nav__loggs__container{
    display: flex;
    gap: 10px;
    margin-right: 20px;

}

.logo{     
    margin-left: 30px;
    cursor: pointer;
}

.selecte__item{
    font-weight: bolder;
}


@media (max-width:1023px) {

    .ul__nav{        
        width: 80%;            
    }

    .nav__item{        
        font-size:25px ;        
    }    
    .logo{     
        height: 60%;       
    }
    
}


@media (max-width:710px) {
    
    
    .nav__item{        
        font-size:13px ;      
    }
           

    .logo{     
        height: 40%;       
    }

    .header{              
        height: 80px;      
    }


    .ul__nav{        
        width: 80%;            
    }

    .icon__provider{           
        width: 20px;        
    }    

}


@media (max-width:410px) {
      
    .ul__nav{        
        width: 90%;            
    }

    .icon__provider{           
        width: 15px;        
    }    

}