.register__container{
    width: 100vw;
    height: 50px;    
    position: absolute;
    top: 10%;
    
    transform: translatey(-10%);
    z-index: 40;   
}   

.register__card{
    width: 400px;
    height: 560px;
    background-color: #FFFFFF;        
    border-radius: 10px;
    z-index: 20;
    position: relative;
    margin: 0 auto;
}

.wave{
    position: absolute;    
    left: 0;
    bottom: 0;        
}

.register__tittle{
  color: #000000;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;  
}

.register__input{
    display: block;
    background-color: #D3D3D3;
    border: none;    
    border-radius: 10px;
    filter: drop-shadow(0px 2px 0px #0085FF);
    font-size: 20px;    
    height: 50px;    
    width: 70%;
    outline: none;    
}

.register__form{
    margin-top: 15%;        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.register__button{
    margin-top: 30px;
    border-style: none;
    background-color: #A4DEFF;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 30px;
    font-weight: 600;    
    cursor: pointer;
    transition: 0.5s ;
}

.register__button:hover{    
    background-color: #58bdf8; 
}


.register__container__message__back{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.login__back{
    color: #0085FF;
    text-decoration: none;
}


@media (max-width:1023px) {
   
    .register__card{
        width: 300px;
        height: 500px;      
    }

    .register__button{       
        font-size: 20px;        
        padding: 12px 24px;       
        margin-top: 20px;
    }
    
    .register__form{
        margin-top: 12%;              
    }
  
    .register__input{       
        font-size: 18px;    
        height: 45px;    
        width: 80%;           
    }    
    
}

@media (max-width:600px) {

    .register__card{
        width: 300px;
        height: 450px;
    }
  
}