.rutinas{
    color: white;
}

.card__rutinas{
    margin: 0 auto;
    margin-top: 40px;
    width: 800px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;    
    background-color: #191919;        
    filter: drop-shadow(-10px 10px #FA00FF)
}

.card__rutinas__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rutinas__expand{
    margin-bottom: 60px;    
}

table {
    font-family: 'IBM Plex Sans', sans-serif; 
    border-collapse: collapse;
    width: 100%;
    border: 4px solid rgba(0, 209, 255, 0.5);
    background-color: #373737;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-collapse: collapse;
}

td,th { 
    text-align: center;
    padding: 8px;
}

td, tr{
    border: 1px solid  white;
}

th{
    font-size: 30px;
    font-weight: bold;    
}

.boton__section{
    background-color: #7F7F7F;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}

.boton_contianer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -125px;
}


.titlte__rutinas{
 text-align: center;
}


@media (max-width:1024px) {
    th{
        font-size: 20px;            
    }

    .card__rutinas{        
        width: 500px;      
    }


    .boton__section{
        background-color: #7F7F7F;
        color: white;
        padding: 8px 14px;        
        font-size: 17px;
    }

    .boton_contianer{        
        margin-left: -70px;
        margin-bottom: 10px;
    }

}



@media (max-width:600px) {
    .titlte__rutinas{
        font-size: 27px;        
    }

    
    .card__rutinas{        
        width: 300px;    
        filter: drop-shadow(-6px 6px #FA00FF)  
    }

    .card_title{
        font-size: 25px;
    }
}   